extends ../_component/layout/base

block config
    -
        var title = template.head.title || 'Change me titssddle'
        var description = 'TEmple descrsdsdiption'
block content
    .content
        #continue
        h2 Features