$color-white: #fff;
$color-ecstasy: #FB7C0E;
$color-mariner: #82939e;
$color-athens-gray: #e7e9ec;

$color-normal: #f1c40f;
$color-dark: #dd9a2d;
$theme: 'lurpak';

@if ($theme == 'lurpak') {
    $color-normal: #f1c40f;
    $color-dark: #dd9a2d;
    $color-ecstasy: #FB7C0E;
}

@if ($theme == 'blue') {
    $color-normal: #415a67;
    $color-dark: #1C304A;
    $color-ecstasy: #dd9a2d;
}

@if ($theme == 'purple') {
    $color-normal: #d76d93;
    $color-dark: #5f3f62;
    $color-ecstasy: #472e49;
}
