// * {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     box-sizing:border-box;
// }

html,
body {
    height: 100%;
    font-family: 'Open Sans';
}

@media screen and (min-width: 25em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
        // align-items: center;
    justify-content: center;
    background-image: radial-gradient($color-buttercup, $color-golden-grass);

    h1 {
        color: $color-white;
        // font-size: 2rem;
    }

    a {
        color: $color-white;
        text-decoration:none;
        font-size: 1rem;
    }
}