footer
    .footer
        div.footer__name &copy; 2019 Pavel Ciupitu
        ul.footer__list
            li
                a.footer__link(href="/privacy") Privacy
            li
                a.footer__link(href="/policy") Policy