doctype html
html
    head
        title About Quick Blog
        meta(name="description", content="Quich Blog is one of the quickest and fastest tool for writing blogs in the world")
    body
        h1 About Quick Blog
        p Quich Blog is one of the quickest and fastest tool for writing blogs in the world