extend _component/layout/base

block config
    -
        var title = 'Contact Quick Blog';
        var description = "Contact me, Pavel Ciupitu, the creator of this quick blog";
block content
    h1=title
    p=description