doctype html
html   
    head
        title Contact Quick Blog
        meta(name="description", content="Contact me, Pavel Ciupitu, the creator of this quick blog.")
    body
        h1 Contact Quick Blog
        p Contact me, Pavel Ciupitu, the creator of this quick blog.