extend _component/layout/base

block config
    -
        var title = "Welcome to Quick Blog"
        var description = "Welcome to Quick Blog. Using super Quick Blog is easy and you can get 100/100 score on Google page speed."
block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue") click or scroll down to continue reading
    .content
        #continue
            h2 Firstly, let's write some content
        p 
            | The sources of Quick Blog can be found on GitHub at&nbsp
            //- | #{" "}
            a(href="https://github.com/pavelciupitu/quick-blog", target="_blank") Quick Blog
        blockquote.blockquote
            .blockquote__body
                p You don't have to be good to start, you have to start to become good.
            .blockquote-footer
                a(href="https://pavelciupitu.github.io/my-cv", target="_blank") Pavel Ciupitu
        p.lead This is my Quick Blog, I am Pavel Ciupitu, a Junior Web Developer, a student at CodeTap Academy, a husband and a father.
        p
            small Contrary to the perception that it would be a programmer blog, this  Quick Blog is a general blog, addressing topics from various areas of interest to me. Many are technology-focused, but I also write with the same pleasure about good food, pleasant holidays, politics, news around us and various other topics. I write a lot of articles every day and you always find something new and interesting here. Below are recommendations for good articles that you may have missed in their time.
        a.top(href="#top")
            span Top
            span.top-arrow