doctype html
html
    head
        title Welcome to Quick Blog
        meta(name="description", content= "Welcome to Quick Blog. Using super Quick Blog is easy and you can get 100/100 score on Google page speed.")
    body
        h1 Welcome to Quick Blog !!!
        p Using super Quick Blog is easy and you can get 100/100 score on Google page speed.